body,
html{
  margin:0;
  padding:0;
  font-size:1rem;
  font-family: 'Karla', sans-serif;
  color: #293264;
}
*{
  box-sizing: border-box;  
  font-size: 1.25rem;
}
.App,
.start{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  min-height: 100vh;
  background-color: #F5F7FB;
}
.title,
.description{
  margin:0;
  max-width: 85%;
  text-align:center;
  
}
.title{
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1em;  
}
.description{
  font-weight: 300;
  margin-bottom: 2.5em; 
}
.btn-start{  
  padding: 1em 3em;
  font-size: 1.125rem;
  color:white;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
}
.questions-container{}
.question-card{}
.question-text{}
.list-of-options{}
.question-option{}
